.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 18px;
  font-family: $base-font;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $black;

  @include tablets {
    padding-bottom: 28px;
    align-items: flex-start;
  }

  @include phones {
    padding-bottom: 19px;
  }
}

.header__search-field {
  display: flex;
  align-items: flex-start;
  width: 176px;
  margin-top: 22px;

  @include tablets {
    display: none;
  }
}

.header__burger-btn {
  display: none;
  border: none;
  background: none;

  @include tablets {
    padding: 0;
    display: block;
    margin-top: 35px;
    margin-left: -2px;
  }

  @include phones {
    margin-top: 17px;
  }
}

.header__icon-search {
  fill: $black;
}

.header__icon-burger {
  stroke: $black;
}

.header__svg-logo {
  fill: $brown;
  margin-top: 10px;
  margin-right: 59px;

  @include tablets {
    margin-right: 11px;
  }

  @include phones {
    width: 52px;
    height: 52px;
    margin-top: 0;
  }
}

.header__icon-cart {
  stroke: $black;
}

.header__cart-mobile {
  display: none;

  @include tablets {
    display: block;
    margin-top: 35px;
  }

  @include phones {
    margin-top: 18px;
  }
}

.header__cart-mobile svg {
  fill: transparent;
}

.header__search-field input {
  width: 100%;
  margin-left: 10px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $black;
  outline: none;
  background: transparent;
}

.header__search-field input::placeholder {
  font-family: $base-font;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $grey-placeholder;
  appearance: none;
}

.header__search-field input::-webkit-input-placeholder {
  font-family: $base-font;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $grey-placeholder;
  appearance: none;
}

.header__search-field input::-moz-placeholder {
  font-family: $base-font;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $grey-placeholder;
  appearance: none;
}

.header__top-right {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 158px;
  margin-top: 22px;
  margin-left: -37px;

  @include tablets {
    display: none;
  }
}

.header__link {
  text-decoration: none;
  margin-left: 37px;
  color: $black;
}

.header__menu {
  width: 1170px;
  display: flex;
  justify-content: center;

  @include desktop-min {
    width: 100%;
  }

  @include tablets {
    display: none;
  }
}

.header__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid $grey;

  @include tablets {
    border-top: none;
  }
}

.header__mobile-links {
  display: none;
}

.header__mobile-links ul {
  list-style: none;
}

.header__mobile-links a {
  font-family: $base-font;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: $white-opacity-low;
  text-decoration: none;
}

.header__mobile-links .header__mobile-link-login {
  display: block;
  color: $white;
  padding-left: 45px;
  margin-top: 44px;

  @include phones {
    padding-left: 15px;
    margin-top: 32px;
  }
}

// mobile menu style

.header__mobile-menu_no-js {
  height: 77vh;
  background-color: $brown;
  padding-bottom: 80px;
}

.header__mobile-menu_open {
  height: 100vh;
  background-color: $brown;
  overflow-y: scroll;
  padding-bottom: 80px;
}

.header__mobile-menu_open .header__svg-logo,
.header__mobile-menu_open .header__icon-search,
.header__mobile-menu_no-js .header__svg-logo,
.header__mobile-menu_no-js .header__icon-search {
  fill: $white;
}

.header__mobile-menu_open .header__icon-search,
.header__mobile-menu_no-js .header__icon-search {
  width: 17px;
  height: 17px;
  margin-top: 7px;
}

.header__mobile-menu_open .header__icon-burger,
.header__mobile-menu_open .header__icon-cart,
.header__mobile-menu_no-js .header__icon-burger,
.header__mobile-menu_no-js .header__icon-cart {
  stroke: $white;
}

.header__mobile-menu_open .header__top,
.header__mobile-menu_no-js .header__top {
  flex-wrap: wrap;
}

.header__mobile-menu_open .header__search-field,
.header__mobile-menu_no-js .header__search-field {
  display: flex;
  align-items: center;
  order: 5;
  width: 100%;
  height: 39px;
  padding-left: 10px;
  margin-top: 40px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 21px;

  @include phones {
    margin-top: 30px;
  }
}

.header__mobile-menu_open input::placeholder,
.header__mobile-menu_no-js input::placeholder  {
  color: transparent;
}

.header__mobile-menu_open input::-webkit-input-placeholder,
.header__mobile-menu_no-js input::-webkit-input-placeholder {
  color: transparent;
}

.header__mobile-menu_open input::-moz-placeholder,
.header__mobile-menu_no-js input::-moz-placeholder {
  color: transparent;
}

.header__mobile-menu_open .header__menu,
.header__mobile-menu_no-js .header__menu {
  display: block;
}

.header__mobile-menu_open .main-nav__list,
.header__mobile-menu_no-js .main-nav__list {
  flex-direction: column;
  margin-left: -26px;
}

.header__mobile-menu_open .main-nav__item,
.header__mobile-menu_no-js .main-nav__item {
  margin-bottom: 21px;
}

.header__mobile-menu_open .main-nav__link,
.header__mobile-menu_no-js .main-nav__link {
  color: $white;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.header__mobile-menu_open .main-nav__item:nth-of-type(3),
.header__mobile-menu_no-js .main-nav__item:nth-of-type(3) {
  margin-left: 33px;

  @include phones {
    margin-left: 0;
  }
}

.header__mobile-menu_open .header__bottom,
.header__mobile-menu_no-js .header__bottom {
  align-items: flex-start;
  border: none;
}

.header__mobile-menu_open .header__mobile-links,
.header__mobile-menu_no-js .header__mobile-links {
  display: block;
  padding: 0;
}

.header__mobile-links ul {
  padding: 0;
  padding-left: 44px;

  @include phones {
    padding-left: 15px;
    margin-top: 5px;
  }
}

.header__mobile-links li {
  margin-bottom: 22px;
}
