.link {
  font-family: $base-font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: $black;
  border-bottom: 1px solid $brown;
  text-decoration: none;

  &:hover {
    opacity: 0.5;
  }

  &:focus {
    opacity: 0.7;
  }
}
