.swiper {
  position: relative;
  padding-top: 100px;
  padding-bottom: 80px;

  @include tablets {
    padding-top: 49px;
  }
}

.swiper h2 {
  margin-top: 20px;
  margin-bottom: 24px;
  font-family: $alternative-font;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 130%;
  color: $black;
  text-align: center;
}

.swiper-container {
  padding: 63px 0;

  @include tablets {
    padding: 54px 0;
  }
}

.swiper__catalog-link {
  display: block;
  width: 82px;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  font-family: $base-font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: $black;
  border-bottom: 1px solid $brown;
}

.swiper-slide h3 {
  margin-bottom: 5px;
  text-align: center;
}

.swiper-slide p {
  margin-top: 5px;
  text-align: center;
}

.swiper-button-prev,
.swiper-button-next {
  top: 22%;

  @include tablets {
    top: 120px;
  }

  @include phones {
    display: none;
  }
}

.swiper-button-prev {
  left: -3px;
  width: 31px;

  @include desktop-min {
    left: 45px;
  }

  @include tablets {
    width: 36px;
  }
}

.swiper-button-next {
  right: 0;
  width: 31px;

  @include desktop-min {
    right: 45px;
  }

  @include tablets {
    width: 36px;
  }
}

.swiper__icon-right,
.swiper__icon-left {
  stroke: $brown;
  width: 36px;
  height: 15px;
}

.swiper-pagination-bullet {
  font-family: $base-font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: $grey-placeholder;
}

.swiper-pagination-bullet-active {
  color: $black;
}

.swiper-slide h3 {
  margin-top: 15px;
}

.swiper-slide img {
  @include desktop-min {
    height: auto;
  }

  @include tablets {
    width: 100%;
  }
}

.swiper-pagination {
  @include phones {
    display: none;
  }
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 6px;
}

.swiper-pagination-mobile {
  display: none;

  @include phones {
    display: block;
    text-align: center;
    font-family: $base-font;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: $black;
  }
}
