// Colors
$white: #ffffff;
$black: #1d1613;
$grey-placeholder: #9b9997;
$grey: #f6f5f4;
$brown: #a87b62;
$white-opacity-low: rgba(255, 255, 255, 0.75);

//fonts
$base-font: "Poppins", "Arial", sans-serif;
$alternative-font: "Cormorant Garamond", "Arial", sans-serif;
